HORIZON: 4
OBSERVATIONS: 4
Vector 0: -> act 0
	 -> obs 0 -> act 0
		 -> obs 0 -> act 0
			 -> obs 0 -> act 4
			 -> obs 1 -> act 4
			 -> obs 2 -> act 4
			 -> obs 3 -> act 4
		 -> obs 1 -> act 1
			 -> obs 0 -> act 4
			 -> obs 1 -> act 4
			 -> obs 2 -> act 4
			 -> obs 3 -> act 4
		 -> obs 2 -> act 2
			 -> obs 0 -> act 4
			 -> obs 1 -> act 4
			 -> obs 2 -> act 4
			 -> obs 3 -> act 4
		 -> obs 3 -> act 3
			 -> obs 0 -> act 4
			 -> obs 1 -> act 4
			 -> obs 2 -> act 4
			 -> obs 3 -> act 4
	 -> obs 1 -> act 5
		 -> obs 0 -> act 5
			 -> obs 0 -> act 4
			 -> obs 1 -> act 4
			 -> obs 2 -> act 4
			 -> obs 3 -> act 4
		 -> obs 1 -> act 5
			 -> obs 0 -> act 4
			 -> obs 1 -> act 4
			 -> obs 2 -> act 4
			 -> obs 3 -> act 4
		 -> obs 2 -> act 2
			 -> obs 0 -> act 4
			 -> obs 1 -> act 4
			 -> obs 2 -> act 4
			 -> obs 3 -> act 4
		 -> obs 3 -> act 3
			 -> obs 0 -> act 4
			 -> obs 1 -> act 4
			 -> obs 2 -> act 4
			 -> obs 3 -> act 4
	 -> obs 2 -> act 2
		 -> obs 0 -> act 0
			 -> obs 0 -> act 4
			 -> obs 1 -> act 4
			 -> obs 2 -> act 4
			 -> obs 3 -> act 4
		 -> obs 1 -> act 1
			 -> obs 0 -> act 4
			 -> obs 1 -> act 4
			 -> obs 2 -> act 4
			 -> obs 3 -> act 4
		 -> obs 2 -> act 2
			 -> obs 0 -> act 4
			 -> obs 1 -> act 4
			 -> obs 2 -> act 4
			 -> obs 3 -> act 4
		 -> obs 3 -> act 3
			 -> obs 0 -> act 4
			 -> obs 1 -> act 4
			 -> obs 2 -> act 4
			 -> obs 3 -> act 4
	 -> obs 3 -> act 3
		 -> obs 0 -> act 0
			 -> obs 0 -> act 4
			 -> obs 1 -> act 4
			 -> obs 2 -> act 4
			 -> obs 3 -> act 4
		 -> obs 1 -> act 1
			 -> obs 0 -> act 4
			 -> obs 1 -> act 4
			 -> obs 2 -> act 4
			 -> obs 3 -> act 4
		 -> obs 2 -> act 2
			 -> obs 0 -> act 4
			 -> obs 1 -> act 4
			 -> obs 2 -> act 4
			 -> obs 3 -> act 4
		 -> obs 3 -> act 3
			 -> obs 0 -> act 4
			 -> obs 1 -> act 4
			 -> obs 2 -> act 4
			 -> obs 3 -> act 4
